body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

ul.benefits {
    list-style-type: none;
    padding: 0;
}
ul.benefits img{
    padding-left: 200px;
}
ul.benefits li {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

ul.benefits h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

ul.benefits p {
    font-size: 16px;
    line-height: 1.5;
}